.footer {
    background-color: #597ead;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
}

.footer-content p {
    margin: 0;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}